.entryBody{
    width:100%;
    display: flex;
    align-items:center;
    padding: 4px 0px 10px 5px;
    background-color: rgb(77, 77, 77);
    color: whitesmoke;
    text-align: left;
    vertical-align: middle;
    font-size: 18px;

    border-left: 25px solid rgb(77, 77, 77) ;
}

.entryLabel{
    font-size: 18px;
    color: whitesmoke;
}

.entryImg{
    width: 32px;
    padding-right: 5px;
}

.entryBody:hover{
    background: linear-gradient( to right,rgb(44, 44, 44), rgb(77, 77, 77));
    border-left: 25px solid rgb(44, 44, 44) ;
}