/* New Stylesheet used since the switch to React */

body
{
    display: flex;
    height:100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgb(49, 49, 49);
    overflow: hidden;
    flex-direction: column;
}

#header{
    display: flex;
    height: 32px;
    width: 100vw;
    background-color: rgb(41, 41, 41);
}



#mainContent{
    display: flex;
    height:100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    flex-direction: row;
    background-color: rgb(49, 49, 49);
    overflow: hidden;
}

canvas 
{   
    height:100%;
    width:100%;
    margin: 0px
}

#parent{
    height: 100%;
    width: 100%;
    margin: 0px;
}

#mapSelector{
    display: none;
    width: 150px;
    border-right: 1px solid rgba(0, 0, 0, 0.863);
}

#tilesetSelector{
    display: none;
    width: 201px;

}

#objectSelector{
    display: none;
    width: 251px;
    border-right: 10px solid rgba(0, 0, 0, 0.24);
    border-left: 1px solid rgba(0, 0, 0, 0.863);
    overflow: hidden;
}

#particleSelector{
    display: none;
    width: 201px;
    border-right: 10px solid rgba(0, 0, 0, 0.24);
    border-left: 1px solid rgba(0, 0, 0, 0.863);
    overflow: hidden;
}

#rightUI{
    display: flex;
    flex-direction: row;
}
#leftUI{
    display: flex;
    flex-direction: row;
}

#tilesetWindow{
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

div{
    user-select: none; /* Standard */
}
img{
    user-select: none;
}

#saveCover{
    width: 100%;
    height: 100%;
    position:fixed;
    background-color: rgba(0, 0, 0, 0.418);
    z-index: 100;
    display: none;
}